.ant-card.ant-card-bordered {
  padding: 50px;
  overflow-x: hidden;
}

.button-options button {
  margin-right: 15px;
  margin-bottom: 5px;
}

@media (max-width: 460px) {
  .ant-card.ant-card-bordered {
    padding: 10px;
  }

  .button-options {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1160px) {
  .ant-card.ant-card-bordered {
    overflow-x: scroll;
  }
}
