@import "../../assets/sass/configuration/colors.scss";
.menu {
  background-color: #001529;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .user-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 125px;
    background-color: #004786;
    .logo {
      height: 70px;
      position: relative;
      top: 0;
      left: 0;
      margin: 15px 15px 15px 15px;
      background-repeat: repeat;
      img {
        margin: 10px;
      }
    }

    .ant-menu {
      background-color: #004786;
    }
    .ant-menu,
    .ant-menu-submenu-title:active {
      background: transparent;
      outline: none;
      border: none;
    }

    .ant-menu-submenu-arrow {
      display: none;
    }
  }

  .menu-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    i {
      color: white;
      font-size: 20px;
    }

    .item {
      display: flex;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      flex-wrap: wrap;
      color: white;
      &:hover {
        background: #337ab7;
      }
    }

    i {
      margin: 10px;
    }
  }
}
