@import "../../assets/sass/configuration/colors.scss";

.menu {
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-options {
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    i {
      color: white;
      font-size: 20px;
    }

    .item {
      justify-content: start;
      align-items: center;

      cursor: pointer;
      padding: 10px;
      flex-wrap: wrap;
      color: white;
      &:hover {
        transform: translateY(-5px);
        transition: all 0.2s;
        opacity: 0.8;
        background: #d4e6f1;
      }
    }

    i {
      margin: 10px;
    }
  }
}
