@import "../../assets/sass/configuration/colors.scss";

.header {
  background: white;
  background-color: #004786 !important;
  box-shadow: 0 1px 10px #d5d5d5;

  .wrapper {
    justify-content: space-between;
    padding: 12px 39px;
  }

  .block {
    display: flex;
    align-items: center;
  }
}
